<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kuma Coffee - Inicio</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/estilos.css'  %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Inter:wght@400;500;600&display=swap"
    rel="stylesheet" />
</head>

<body>


  {% include 'includes/navbar.html' %}

  
  <main class="inicio">
    <div>
        <h1 class="inicio__titulo">Bienvenido a Kuma Coffee</h1>
        <p>Kuma Coffee es más que una marca… es una historia que nace entre granos y paciencia.</p>
         
    </div>
    <div><img src="{% static 'imagenes/imagen_final.jpeg' %}" class="img_fondo"></div>
    
  </main>

  {% include 'includes/footer.html' %}

  <script src="script.js" defer></script>
  <script src="https://kit.fontawesome.com/977132abff.js" crossorigin="anonymous"></script>
</body>

</html>