{% load static %}
<footer class="footer">
  <div class="footer-container">

    <!-- About -->
    <div class="footer-section">
      <h3>Sobre Kuma Coffee</h3>
      <p>
       Kuma Coffee no vende solo café,
       sino experiencias cuidadas, sabores honestos
       
       y una conexión profunda con quienes cultivan cada grano
      </p>
      <div class="socials">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <!-- Links -->
    <div class="footer-section">
      <h3>Link</h3>
      <ul>
        <li><a href="#">Catálogo</a></li>
        <!-- <li><a href="#">Favoritos</a></li> -->
        <li><a href="#">Pedidos</a></li>
      
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer-section">
      <h3>contactanos</h3>
      <p>📞 3137093748</p>
      <p>✉ tgaleano882@gmail.com</p>
    </div>
     <div class="footer-section">
      <h3>Contribuyentes</h3>
      <p><img src="{% static 'imagenes/logosena.png'%}" alt=""></p>
      <p><img src="{% static 'imagenes/adigit.png'%}" alt=""></p>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Kuma Coffee. Todos los derechos reservados
  </div>
</footer>