{% load static %}
<header class="cabecera">
    <div class="cabecera__logo">
      <div class="icono-logo">
        <img src="{% static 'imagenes/logoproyecto.png' %}" alt="">
      </div>
    </div>

    <div class="cabecera__busqueda">
      
      <nav class="cabecera__navegacion">
       <a href="{% url 'inicio' %}" class="enlace-navegacion">Inicio</a>
        <a href="{% url 'catalogo:lista' %}" class="enlace-navegacion">Catalogo</a>
         <a href="{% url 'catalogo:lista_productos' %}" class="enlace-navegacion">Listado de productos</a>
        
        
      </nav>
    </div>
{% include 'includes/navbar_acciones.html' %}

  </header>
